.cursor {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: rgba(0,100,255,0.8);
  position: fixed;
  pointer-events: none;
  box-shadow: 0 0 40px rgba(0,100,255,1);
  z-index: 9999;
}
